        body {
            padding: 30px 0;
            background-image: url('/assets/map.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* for that authentic 2004 feel */
            margin: auto;
            max-width: 960px;
        }

        h3 a {
            vertical-align: -1px;
        }

        h6 {
            border-top: .8px dotted #000;
        }

        cite {
            font-style: normal;
        }

        a img {
            border: 2px solid;
            padding: 1px;
        }

        h1 a img {
            margin-bottom: -5px;
        }

        h1 a.back img {
            margin-bottom: -2px;
        }

        li {
            margin-bottom: 1em;
        }

        .title-date {
            font-size: 12pt;
        }

        .main {
            display: flex;
            flex-direction: row;
        }

        .left {
            flex: 2;
            align-self: flex-start;
        }

        .right {
            flex: 1;
            align-self: flex-end;
        }

        .code {
            background-color: #FFF;
            font-family: monospace;
            padding: 2px;
        }

        .back {
            font-size: 14pt;
        }

        .float-left {
            float: left;
            margin-right: 1em;
            margin-bottom: 1em;
        }
