        body {
            padding: 30px 0;
            background-image: url('/assets/map.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* for that authentic 2004 feel */
            margin: auto;
            max-width: 960px;
        }

        h1 {
            border-bottom: .8px solid #000;
        }

        h6 {
            border-top: .8px solid #000;
        }

        .title-date {
            font-size: 12pt;
        }

        .main {
            display: flex;
            flex-direction: row;
        }

        .left {
            flex: 2;
            align-self: flex-start;
        }

        .right {
            flex: 1;
            align-self: flex-end;
        }

        .code {
            background-color: #FFF;
            font-family: monospace;
            padding: 2px;
        }

        .back {
            font-size: 14pt;
        }
